@import "../../styles/colours.less";
@import "../../styles/mixin.less";

.popup {
  .containerCenter();

  .message {
    font-size: 1.6rem;
    cursor: default;
  }

  .popupButton {
    font-size: 1.6rem;
    margin: 1rem 0.5rem 0 0.5rem;
  }
}
