@import "../../styles/mixin.less";
@import "../../styles/colours.less";

.ticketDisplay {
	.ticketMixin();
	word-break: break-word;
	cursor: pointer;
	
	.ticketDisplayInfoRow {
		padding: 0.125em;
		display: flex;
		align-items: center;

		.ticketDisplayKey {
			text-transform: capitalize;
			color: #767474;
			margin-right: 0.45em;
			word-break: keep-all;
		}
	}

	.ticketOptions {
		display: none;

		.ticketIcon {
			background-color: #dcdcdc80;
			padding: 0.31em;

			&:hover {
				background-color: #dcdcdc;
			}

			.edit, .trash {
				display: block;
				width: 1.25em;
				height: 1.25em;
				fill: @colourSvg;

				> path {
					stroke: @colourSvg;
				}
			}
		}
	}

	@media (hover: hover) {
		&:hover {
			.ticketOptions {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				cursor: pointer;
			}
		}
	}
}
