@import "../../styles/colours.less";
@import "../../styles/mixin.less";

.form {
	.containerCenter();
	min-width: 70%;
	max-height: 90%;
	z-index: 97;
	font-size: 1rem;
	box-sizing: border-box;

	@media (orientation: portrait) and (max-width: 575px) {
		font-size: calc(0.3rem + 1.2vw);
		width: 90%;
	}

	.content {
		width: 100%;
		overflow-y: scroll;
		flex-grow: 1;
	}

	.footer {
		display: flex;

		button {
			font-size: 1.6em;
			margin: 1em 1em 0 1em;
			background-color: white;
		}
	}
}
