@import "../../styles/colours.less";

.formTextarea {
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 1em;

	label {
		margin-right: 0.5em;
		flex: 2;
		text-transform: capitalize;
		font-size: 1.6em;
	}

	textarea {
		border: solid 1px @colourBorder;
		flex: 6;
		font-size: 1.6em;
		padding: 0.3em 0.5em;
	}
}
