@import "../../styles/mixin.less";
@import "../../styles/colours.less";

.app {
	padding: 1em;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	hr {
		@media (orientation: landscape) and (min-height: 451px) {
			display: none;
		}

		@media (orientation: portrait) and (min-width: 451px) {
			display: none;
		}
	}

	.header {
		display: flex;
		padding-bottom: 2em;
		align-items: center;
		font-size: 1rem;

		@media (orientation: portrait) and (max-width: 450px) {
			font-size: 0.8rem;
		}

		@media (orientation: landscape) and (max-height: 450px) {
			font-size: calc(0.4rem + 1.2vh);
		}

		.logout {
			.boxMixin(@colourBorder);
			right: 1.3333em;
			position: absolute;
			font-size: 1.5em;
			background-color: white;
			padding: 0;

			.exit {
				display: block;
				width: 2rem;
				height: 2rem;
				margin: 0.7rem;
				fill: @colourSvg;
				transition: transform 0.3s ease;

				.filterPath {
					stroke: @colourSvg;
				}

				.diagonalPath {
					stroke: black;
					stroke-width: 0.25em;
				}
			}

			@media (hover: hover) {
				&:hover {
					.boxMixinHover();

					> .exit {
						transform: scale(1.2);
					}
				}
			}
		}

		.title {
			font-size: 3em;
			font-weight: normal;
			pointer-events: none;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
