@import "../../styles/colours.less";
@import "../../styles/mixin.less";

.column {
	font-size: 1rem;

	.content {
		.boxMixin();
		background-color: gainsboro;
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		height: calc(100vh - 19.3rem);
		overflow-y: scroll;
	}
}
