@import "../../styles/colours.less";
@import "../../styles/mixin.less";

.ticket {
	border: solid 1px gainsboro;
	box-shadow: 2px 2px 0.5rem @colourShadow;
	border-radius: 0.5rem;
	transition: box-shadow 0.2s;
	background-color: white;
	min-height: 6em;
	margin: 0.5em;
	overflow: hidden;
	position: relative;
	display: inherit;

	&.ticketError {
		border: solid 2px @colourError;
	}

	@media (hover: hover) {
		&:hover {
			.boxMixinHover();
		}
	}
}
