@import "../../styles/colours.less";
@import "../../styles/mixin.less";

.contentMixin() {
	width: 100%;
	height: 100%;
	padding: 0.625em;
	font-size: 1.6em;
	box-sizing: border-box;
	position: relative;
}

.ticket {
	.boxMixin();
	min-height: 6em;
	margin: 1em;
	overflow: hidden;
	position: relative;
	display: inherit;

	.ticketOptions {
		display: none;
	}

	@media (hover: hover) {
		&:hover {
			.boxMixinHover();

			.ticketOptions {
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				cursor: pointer;

				.ticketIcon {
					background-color: #dcdcdc80;
					padding: 0.5em 0.5em;

					&:hover {
						background-color: #dcdcdc;
					}
	
					.edit, .trash {
						display: block;
						width: 2em;
						height: 2em;
						fill: @colourSvg;
	
						> path {
							stroke: @colourSvg;
						}
					}
				}
			}
		}
	}

	span {
		.contentMixin();
		word-break: break-word;
		cursor: pointer;
	}
}

.ticketEditer {
	.contentMixin();
	border: none;
	resize: none;
}
