@import "../../styles/mixin.less";
@import "../../styles/colours.less";

.login {
	@media (min-width: 451px) and (min-height: 451px) {
		.containerCenter();
		min-width: 40%;
	}

	@media (orientation: portrait) and (max-width: 450px) {
		font-size: 1.2rem;
	}

	@media (orientation: landscape) and (max-height: 450px) {
		font-size: calc(0.4rem + 1.5vh);
		max-width: 75%;
		position: relative;
    left: 50%;
    transform: translateX(-50%);
	}

	.footer {
		margin-top: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		button {
			font-size: 1.6em;
			margin: 0 1em;
			background-color: white;

			&.loading {
				cursor: default;
				border: gainsboro;

				&:hover {
					box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
				}
			}
		}

		.msg {
			display: block;
			margin-top: 1.5em;
			font-size: 1.2em;

			&.error {
				color: @colourError;
			}

			&.hide {
				display: none;
			}

			.link {
				color: @colourBorder;
				cursor: pointer;

				@media (hover: hover) {
					&:hover {
						color: @colourBorder;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
