@colourMain: #f79b87;
@colourMinor: #fbd6cf;
@colourBlack: black;
@colourWhite: white;
@colourBorder: rgb(218, 182, 175);
@colourShadow: rgba(0, 0, 0, 0.1);
@colourShadowHover: rgba(0, 0, 0, 0.4);
@colourSvg: #c1a8a4;
@colourError: rgb(235, 101, 101);
@grey: #767474;
@lightGrey: #dcdcdc;
